@import url('https://googleapis.com');
@import 'tailwindcss';


:root {
  font-family: Inter, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #f8fafc;
  background-color: #020617;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-bebas: "Bebas Neue", sans-serif;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #020617 0%, #052e16 50%, #14532d 100%);
}

#root {
  min-height: 100vh;
}